<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaceQuest | Takshak.Online</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/takshak-favicon.png" />
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <script src="https://kit.fontawesome.com/087042e108.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/contest.css" type="text/css">
</head>
<body onload="displayTime()" style="background: url('/images/mace.png');">
    <div class="container v-header">
        <div class="video-container">
            <!--<iframe id="myvideo" class="video-player" src="<%= video %>"" allowfullscreen onended="displayTask()"></iframe> -->
            <video id="myvideo" class="video-player"  src="<%= typeof video !='undefined'? `/videos/${video}.mp4?autoplay=1` : 'Not displaying' %>" 
                autoplay muted onended="displayTask()">
            </video>
        </div>
        <div class="overlay" id="overlay"></div>
        <div class="instructs" id="instruct">
            <h2>Task <%=no%></h2>
            <div class="instruct-content">
                <p><%= task%></p>
            </div>
            <form id="form_id" action="/task-<%=no %>" method="POST">
                <input type="hidden" name="team" value="<%=team%>"/>
                <input type="hidden" id="timeinput" name="time" value="<%=time%>"/>
                <input type="hidden" id="penalty" name="penalty" value="<%=penalty%>"/>
                <input type="hidden" id="answer" name="ans" value="<%=ans%>"/>
                <div class="btn-container">
                <% if( typeof options != 'undefined'){ %>
                    <% options.forEach(function(data){ %>
                        <input type="button" class="op-btns" onclick="ansCheck(this.value)" value="<%=data %>">
                    <% }); %>
                <% } %>
                </div>
            </form>
        </div>
    </div>
    <div class="timer" id="timer">
        <i class="fas fa-clock white"></i>
        <div id="time"></div>
    </div>
    <div class="penalty-display">
        <h2 id="penalty-view" style="color: #fff;"><%=penalty%></h2>
    </div>
    <div class="popup" id="popup">
        Wrong Answer try Again
        <input type="button" class="close-btn" id="close" onclick="popupClose()">Close</input>
    </div>
    <script src="/js/main.js"></script>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
</body>
</html>