<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trailblazers</title>
    <script src="https://kit.fontawesome.com/087042e108.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/contest.css" type="text/css">
</head>
<body onload="displayTime()">
    <div class="container v-header">
        <div class="video-container">
            <video id="myvideo" class="video-player" src="<%= typeof video !='undefined'? `/videos/${video}.mp4?autoplay=1` : 'Not displaying' %>" 
                autoplay muted onended="displayTask()">
                <!--<source src="<%= typeof video !='undefined'? `/videos/${video}.mp4?autoplay=1` : 'Not displaying' %>" type="video/mp4">-->
            </video>
        </div>
        <div class="overlay" id="overlay"></div>
        <div class="instructs" id="instruct">
            <h2>Task <%=no%></h2>
            <div class="instruct-content">
                <p><%= task%></p>
            </div>
            <div class="image-container">
                <img src="<%= typeof image !='undefined'? `/images/${image}` : 'Not displaying' %>">
            </div>
            <form id="form_id" action="/task-<%=no %>" method="POST">
                <input type="hidden" name="team" value="<%=team%>"/>
                <input type="hidden" id="timeinput" name="time" value="<%=time%>"/>
                <input type="hidden" id="answer" name="ans" value="<%=ans%>"/>
                <div class="btn-container">
                <% if( typeof options != 'undefined'){ %>
                    <% options.forEach(function(data){ %>
                        <input type="button" class="op-btns" onclick="ansCheck(this.value)" value="<%=data %>">
                    <% }); %>
                <% } %>
                </div>
            </form>
        </div>
        <div class="exit">
            <a class="start-btn" href="/exit">Exit Game</button>
        </div>
    </div>
    <div class="timer" id="timer">
        <i class="fas fa-clock white"></i>
        <div id="time"></div>
    </div>
    <div class="popup" id="popup">
        Wrong Answer try Again
        <button class="close-btn" id="close" onclick="popupClose()">Close</button>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>